.alia{
    background-color: red;
}
.vijay{
    background-color: blue;
}
.rajini{
    background-color: yellow;
}
.sharuk{
    background-color: green;
}
.salman{
    background-color: aqua;
}
#abc{
    background-color: red;
}